html {
    height: 100%;
    margin: 0;
}

body {
    text-align:center;
    background-color: black;
    height: 100%;
    margin: 0;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

}

div {
    padding: 2px;
    height: 14%;
}

h1, p {
    color: white;
}

.btn {
    font-size: 40px;
    width: 20%;
    height: 100%;
    background-color: #505050;
    color: white;
    border-radius: 100%;
    border-color: black;
}

.btn:hover {
    background-color: white;
    color: black;
}

.btn:active {
    background-color: white;
    color: black;
    border: none;
    outline: none;
    text-decoration: none;
}

.btn:focus {
    background-color: white;
    color: black;
    border: none;
    outline: none;
}

.btn-extras {
    background-color: #D4D4D2;
    color: black;
}

.btn-operator {
    background-color: #FF9500;
}
.btn-zero {
    width: 40%;
    border-radius: 25px;
    text-align: left;
}

.display-box {
    background-color: black;
    color: white;
    height: 100%;
    width: 80%;
    text-align: right;
    font-size: 40px;
    border: black;
}

.top {
    padding-bottom: 10px;
    padding-top: 10px;
}

.footer {
    padding-top: 50px;
}